<% provide(:title, "ログイン") %>
<h1>ログイン</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>
      
      <%= f.label :remember_me, class: "checkbox inline" do %>
        <%= f.check_box :remember_me %>
        <span>次回から自動でログインする</span>
      <% end %>

      <%= f.submit "送信", class: "btn btn-primary" %>
    <% end %>

    <p>会員登録はまだですか？ <%= link_to "新規登録へ", signup_path %></p>
  </div>
</div>