  <% if @user.videos.count > 0%>
    <% @video_info.each do |info| %>
      <h3><%= info.title %></h3>
      <div class="youtube-container">        
        <iframe src="https://www.youtube.com/embed/<%= create_video_id info.url %>" width="560" height="315" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
      </div>
      <p>シェア数: <%= info.score%></p>
      <p><%= info.description%></p>
      <%= link_to "編集する",edit_video_path(info)%>
      <%= link_to "削除する",video_path(info),method: :delete,
                             data: {confirm: "本当に削除してもよろしいですか？"} %>
      <hr>
    <%end%>
  <%end%>